body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
  }
  
  h1 {
    margin-top:1px;
    color: white;
    font-size:50px;
    color:rgb(235, 206, 169)
  }
  
  h2 {
   color: white;
   font-size:18px;
   font-style:italic;
   color:rgb(195, 213, 228)

  }
  .intro-text{
    margin-top:80px;
    color:white;
    font-size:20px;
    
    
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:45%;
    
  }
  
  button {
    padding: 9px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:2px;
  
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

.response {
    color: white;
    text-align: justify;
    margin: 80px 130px 0px 130px;
    box-shadow: rgb(195, 213, 228) 0px 7px 29px 0px;
    padding: 2%;
}


.left{
 text-align: left;

}

p{
    color:white;
    font-size:20px;
    
}